
* {
    margin : 0;
    padding:0;
    box-sizing:border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.PharmacyName{
    font-size: 30px;color:blanchedalmond;position: relative;right:4cm;
}

h1 {
    font-size:50px;
    line-height:64px;
    color:#222;
}
h2 {
    font-size: 46px;
    line-height: 54px;
    color: burlywood;
}
h4 {
    font-size: 20px;
    color: darkorange;
}
h6 {
    font-weight:700;
    font-size:12px;
}
p {
    font-size:16px;
    color: cadetblue;
    margin: 15px 0 20px 0;
}
.section-p1 {
    padding:40px 80px;
}
.section-m1 {
    margin:40px 0;
}
button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    border: none;
    transition: 0.2s;
}

button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    border: none;
    transition: 0.2s;
}
body {
    width:100%;
    overflow-x: hidden;
}
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color:#6A5ACD;
    box-shadow: 0 5px 15px rgba(0,0,0,0.6);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
#navbar {
    display:flex;
    align-items:center;
    justify-content:center;
}
    #navbar li {
        list-style:none;
        padding:0 20px;
        position:relative;
    }
        #navbar li a {
            text-decoration:none;
            font-size:16px;
            font-weight:600;
            color:rgba(0,0,0,0.6);
            transition:0.3s ease;

        }
            #navbar li a:hover,
            #navbar li a.active {
                color: wheat;
                
            }
                #navbar li a.active::after,
                #navbar li a:hover::after {
                    content: "";
                    width: 30%;
                    height: 2px;
                    background-color: wheat;
                    position: absolute;
                    bottom: -4px;
                    left: 20px;
                }

#hero {
    background-image: url("./imgs/newbackground.jpg");
    height: 140vh;
    width: 100%;
    background-size:contain;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
    #hero h4 {
        padding-bottom:15px;

    }
    #hero h1 {
        color:aquamarine;
    }
    #hero button {
        background-image:url();
        background-color: transparent;
        color: aqua;
        border:0;
        position: relative;
        top:1cm;
        padding: 14px 80px 14px 65px;
        background-repeat: no-repeat;
        border: 2px gray solid;
        
     }
    #hero button:hover{
        border: 2px solid white;
    
    }

button:hover {
  background-color: brown;    }
#feature {
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-wrap:wrap;
}

#feature .fe-box {
    width: 300px;
    text-align: center;
    padding: 35px 25px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
    border: 1px solid burlywood;
    border-radius: 4px;
    margin: 15px 0;
}
    #feature .fe-box:hover {
        box-shadow: 20px 20px 34px wheat;
    }
    #feature .fe-box h6 {
        display:inline-block;
        padding:9px 8px 6px 8px;
        line-height:1;
        border-radius:4px;
        color:darkgreen;
        background-color:antiquewhite;
    }
    #feature .fe-box img {
        width:100%;
        margin-bottom:10px;
    }
   
    #feature .fe-box :nth-child(2) h6 {
        background-color:darkgreen;
    }
    #feature .fe-box :nth-child(3) h6 {
        background-color: darkkhaki;
    }
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #6A5ACD;
}
    footer .col {
        display: flex;
        flex-direction:column;
        align-items  : flex-start;
        margin-bottom:20px;
    }
    footer .logo {
        margin-bottom: 30px;
    }
    footer h4 {
        font-size:14px;
        padding-bottom:20px;
    }
    footer p {
        font-size: 13px;
        margin:0 0  8px 0;
    }
    footer a {
        font-size: 13px;
        text-decoration:none;
        color:black;
        margin-bottom:10px;
    }
    footer .follow {
        margin-top:20px;

    }
    footer .follow i {
       color: black;
       padding-right:4px;
       cursor:pointer;
    }
    footer .install .row img {
        border: 1px solid gray;
        border-radius:6px;
    }
    footer .install  img {
        margin:10px 0 15px 0;
    }
    footer .follow i:hover,footer a:hover {
        color: wheat;
    }
    footer .copyright  {
        width:100%;
        text-align:center;
    }
#product1 {
    text-align:center;

}
    #product1 .pro-container {
        display:flex;
        justify-content:space-between;
        padding-top:20px;
        flex-wrap:wrap;
    }
    #product1 .pro {
        width: 23%;
        min-width: 250px;
        padding: 10px 12px;
        border: 1px solid #cce7d0;
        border-radius: 25px;
        cursor: pointer;
        box-shadow: 20px 20px 30px rgba(0,0,0,0.01);
        margin: 15px 0;
        transition: 0.2s ease;
        position: relative;
    }
        #product1 .pro:hover {
            box-shadow: 20px 20px 30px rgba(0,0,0,0.09);
        }

        #product1 .pro img {
            width: 100%;
            border-radius: 20px;
        }
        #product1 .pro .napa {
            text-align:start;
            padding:10px 0;
        }
            #product1 .pro .napa span {
                color: blue;
                font-size:12px;
            }
            #product1 .pro .napa h5 {
                padding-top:7px;
                color:black;
                font-size:14px;
            }
            #product1 .pro .napa .star {
                font-size: 12px;
                color:rgb(255, 216, 0);
            }
            #product1 .pro .napa h4 {
                padding-top: 7px;
                font-size: 14px;
                font-weight:700;
                color:darkgreen;
            }
        #product1 .pro .cart {
            width: 40px;
            height: 40px;
            line-height: 40px;
            border-radius: 40px;
            background-color: aliceblue;
            font-weight: 500;
            color: darkgreen;
            border: 1px solid antiquewhite;
            position:absolute;
            bottom:20px;
            right:10px;
        }
#banner { 
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    background-color:lightsalmon;
    width:100%;
    height:40vh;
    background-size:cover;
    background-position:center;
}
    #banner h2 {
        color: white;
     
    }
    #banner h4 {
        color: white;
        padding: 20px 0;
    }
    #banner button:hover {
        background:wheat;

    }
#sm-banner {
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}
    #sm-banner .banner-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
       
        text-align: center;
   
        min-width: 500px;
        height: 35vh;
        border: 1px solid green;
        background-size: cover ;
        background-position: center;
    }
    #sm-banner h4 {
        color: #FF0000;
        font-size:20px;
        font-weight:300;

    }
    #sm-banner h2 {
        color: #4169E1;
        font-size: 20px;
        font-weight: 800;
    }
    #sm-banner span {
        color: #800000;
        font-size: 14px;
        font-weight: 500;
        padding-bottom: 15px;
    }
    #sm-banner .banner-box:hover button {
        background-color: forestgreen;
        border: 1px solid forestgreen; 
    }
#newsletter .form{
    display:flex;
    width:40%;
}
#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #DCDCDC;
    background-repeat: no-repeat;
    background-position: 20% 30%;
}
#newsletter h4 {
    font-size:22px;
    font-weight:700;

}
    #newsletter p {
        font-size: 14px;
        font-weight: 600;
        color:azure;
    }
    #newsletter input {
        height:3.125rem;
        padding: 0 1.25em;
        font-size:14px;
        width:100%;
        border: 1px solid transparent;
        border-radius: 4px;
        outline:none;


    }
    #newsletter button {
        background-color:darkgreen;
        color:white;
        white-space:nowrap;
    }
#Second {
    background-image: url("./imgs/products/pills-medicine-pharmacy-color-medical-drug-109252-wallhere.com.jpg");
    width:100%;
    height:80vh;
    background-size:cover;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    padding:14px;

}
#SecondAB {
    background-image: url("imgs/about.jpg");
    width: 100%;
    height: 11cm;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 14px;
}
#SecondCT {
    background-image: url("imgs/contact.png");
    width:100%;
    height: 9cm;

    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 14px;
}
#prodetails {
    display:flex;
    margin-top:20px;
}
#prodetails .signle-pro-image {
    width: 40%;
    margin-right: 50px;
}

.signle-pro-image {
    display:flex;
    justify-content:space-between;
   

}
.small-img-col {
    flex-basis:24%;
    cursor:pointer;
}
#prodetails .single-pro-details {
    width: 50%;
    padding-top: 30px;
}
    #prodetails .single-pro-details h4 {
        padding:40px 0 20px 0;
    }
    #prodetails .single-pro-details h2 {
        font-size:26px;
    }
    #prodetails .single-pro-details select {
        display:block;
        padding: 5px 10px;
        margin-bottom:10px;
    }
    #prodetails .single-pro-details input {
        width:50px;
        height:47px;
        padding-left:10px;
        font-size:16px;
        margin-right:10px;
    }
    #prodetails .single-pro-details button {
        background-color:darkgreen;
        color:white;
    }
    #prodetails .single-pro-details span {
        line-height:8px;
    }
#cart table {
    width:100%;
    border-collapse:collapse;
    table-layout:fixed;
    white-space:nowrap;
}
    #cart table img {
        width:70px;

    }
    #cart table td:nth-child(1) {
        width:100px;
        text-align:center;

    }
    #cart table td:nth-child(2) {
        width: 150px;
        text-align: center;
    }
    #cart table td:nth-child(3) {
        width: 250px;
        text-align: center;
    }
    #cart table td:nth-child(4),
    #cart table td:nth-child(5),
    #cart table td:nth-child(6) {
        width: 150px;
        text-align: center;
    }
        #cart table td:nth-child(5) input {
            width:70px;
            padding:10px 5px 10px 15px;
        }
    #cart table thead {
        border: 1px solid black;
        border-left:none;
        border-right:none;
    }

        #cart table thead td {
            font-weight:700;
            text-transform:uppercase;
            font-size:13px;
            padding: 18px 0;
        }
    #cart table tbody tr td {
        padding-top:15px;
    }
    #cart table tbody  td {
        font-size:13px;
    }

  
    .container, .revampedContainer {
        width: 100%;
        max-width: 1276px;
        margin: 0 auto;
        padding: 0 16px;
    }
    *, :after, :before {
        margin: 0;
        padding: 100px;
        box-sizing: border-box;
    }
    
    div {
        display: block;
        unicode-bidi: isolate;
    }
    .contactus_contactusContainer__R5OoZ {
        font-size: 18px;
    }
    body {
        font-size: 14px;
        background: #fff;
        color: #121414;
        font-weight: 400;
        font-family: Inter, sans-serif;
    }
    *, :after, :before {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    *, :after, :before {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    ::-webkit-scrollbar-thumb {
        background: #ccc;
    }
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    .contactus_pageContainer__MAkzP {
        box-shadow: 10px 15px 25px 5px rgba(0, 0, 0, .3);
        background: #f7f8f5;
        padding: 40px;
        margin-bottom: 80px;
        margin-top: 40px;
        border-radius: 0 0 10px 10px;
        -webkit-border-radius: 0 0 10px 10px;
        -moz-border-radius: 0 0 10px 10px;
    }

    

    